.card {
    transition: none ;
    transform: none !important;
}

.card-text{
    font-size: 1.2rem;
}

.btn:focus, .btn:focus-within{
    box-shadow: none !important;
}

.botones button:hover{
    // transform: scale(1.0125);
    animation: animacion 1000ms ease alternate infinite;
}

@keyframes animacion {
    100%{
        transform: scale(1.03);
    }
}
