.card-scale-none {
    transition: none ;
    transform: none;
}

.card-text{
    font-size: 1.2rem;
}

.btn:focus, .btn:focus-within{
    box-shadow: none !important;
}

.botones button:hover{
    // transform: scale(1.0125);
    animation: animacion 1000ms ease alternate infinite;
}

@keyframes animacion {
    100%{
        transform: scale(1.03);
    }
}

.scroller::-webkit-scrollbar {
    width: 5px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
    
}

.scroller::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
}

.scroller::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}


