
div#contenedor-productos{
    max-width: 100%;
    box-sizing: border-box;
}

.card-scale:hover, .card-scale:focus{
    // box-shadow: 0 0 10px rgb(255, 255, 255 / .9);
    transform: scale(1.0125);
}



