#changePassword{
    box-shadow: 0 0 12px #000;
    background-image: url("https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635995084/gradienta-m_7p45JfXQo-unsplash_mtxnu5.jpg");
    background-position: 60%;
}