.botonescarrito{
    justify-content: end;
    border: red 1px;
    background-color: red;
}

.eliminar{
    color: rgb(63, 63, 223);
}

.eliminar:hover{
    color:red;
}

.love{
    color: red;
    // height: 400px;
    // margin: 100px 100px;
    box-shadow: 0 0 30px #000;
}