.botonescarrito{
    justify-content: end;
    
}

.eliminar{
    color: rgb(63, 63, 223);
}

.eliminar:hover{
    color:red;
}

.love{
    color: rgb(201, 70, 70);
    // height: 400px;
    // margin: 100px 100px;
    text-shadow: 0 0 5px rgb(180, 93, 93);
}