// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

.footer, link, p, h6{
    font-family: 'Josefin Slab', serif;
}

.opcion{
font-size: 12px;

}

.copyright{
    font-size: 12px;
    
}

.linea{
    size: 40px;
    width: 100%;
    color: rgb(32, 32, 122);
    margin-bottom: 30px;
   
}

.redes{
    text-decoration: none;
}

.redessociales li{
list-style: none;
display: inline-grid;
justify-items: center;
margin: 5px;
}

.redessociales{
    text-align: center;
    padding: 0;
}

.contacto{
    margin-left: 30px;
    text-align: center;
}