@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.footer, link, p, h6{
    font-family: 'Montserrat', sans-serif;
}

.opcion{
font-size: 12px;

}

.copyright{
    font-size: 12px;
    
}

.linea{
    size: 40px;
    width: 100%;
    color: rgb(32, 32, 122);
   
}

.redes{
    text-decoration: none;
}

.redessociales li{
list-style: none
}

.contacto{
    margin-left: 30px;
}