@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.imagenhome{
    width: 100%;
    height: 700px;
    
}

#bgVideo{
  width: 100%;
  height: 300px;
}

.titulo1{
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 3rem !important;
  text-shadow: 0 0 3px rgba(0,0,0,.9);
}

.titulo2{

  font-size: 2rem !important;
  text-shadow: 0 0 3px rgba(0,0,0,.9);
  color: white;
}

.textodos{
  bottom: 30%;
  // margin-left:490px;
  margin: auto;
  // width: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

// .textotres{
//   bottom: 30%;
//   margin-left:490px;
//   width: 600px;
//   font-family: 'Montserrat', sans-serif;
// }