$background-logo: "https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635995084/gradienta-m_7p45JfXQo-unsplash_mtxnu5.jpg";
$logo: "https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635985840/logo_FINAL_tw0rfp.png";
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Sans+Condensed:wght@800&family=Montserrat:wght@500&family=Paytone+One&display=swap');



span#addon-wrapping{
    width: 40px !important;
}
span#addon-wrapping i{
    width: 100%;
    box-sizing: border-box;
}
.fortnite{
    
    font-family: 'Fira Sans Condensed', sans-serif;
    // font-family: 'Paytone One', sans-serif;
    // font-family: 'ABeeZee', sans-serif;
    // font-family: 'Montserrat', sans-serif;
}
input:focus{
    box-shadow: none !important;
}
.buttons button{
    width: 120px !important;
}
.buttons button:focus{
    box-shadow: none !important;
}
#contenedor .row{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    // height: 400px;
    // margin: 100px 100px;
    box-shadow: 0 0 30px #000;
    padding: 10px;
}
#left{
    // position: relative;
    background-image: url($background-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}


// #left-side{
//     background-image: url("https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635995084/gradienta-m_7p45JfXQo-unsplash_mtxnu5.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     filter: blur(1px);
//     -webkit-filter: blur(1px);
//     height: 100%;
//     width: 100%;
// }
#text{

   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   text-align: center;
   padding: 2rem;
   text-shadow: 0 0 12px #fff;
}

// #text {
//     color: #ffffff;
// }

.notienesusuario{
    text-align: end;
    font-size: 12px;
}

.letra{
    font-family: 'Montserrat', sans-serif;
}

.sombra{
    text-shadow: 0 0 12px #fff;
}

.carrito{
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: rgb(32, 32, 122);
    border-width: 2px;
}

.carritoadentro{
    border-color: rgb(32, 32, 122);
    border-width: 4px;
    border-style: solid;
    border-radius: 0.5%;
}

.contraseña{
    text-decoration: none;
}

.carro{
    text-shadow: 0 0 3px rgb(80, 103, 209);
}
