
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&display=swap');
body, html{
    height: 100vh;
    font-family: 'Fira Sans Condensed', sans-serif;
    // font-family: 'Paytone One', sans-serif;
}
#contenedor .row > :first-child{
    // box-shadow: 0 0 12px #000;
}
#contenedor .row{
    height: 400px;
    // margin: 100px 100px;
}
#left{
    // position: relative;
    background-image: url("https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635995084/gradienta-m_7p45JfXQo-unsplash_mtxnu5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#left-side{
    background-image: url("https://res.cloudinary.com/dmrzqrcpq/image/upload/v1635995084/gradienta-m_7p45JfXQo-unsplash_mtxnu5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    height: 100%;
    width: 100%;
}
// #text{
//    position: absolute;
//    color: white;
//    background-color: rgba(0, 0, 0, 0.4); 
//    width: 50%;
//    text-align: center;
// }
// #text {
//     color: #ffffff;
// }


