@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Sans+Condensed:wght@800&family=Montserrat:wght@500&family=Paytone+One&display=swap');


.fortnite{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.botonprodu{
    position: relative;
    left: -20px;
}

.logo{
    width:150px;
    // margin-right: 720px;
    padding-left: 5px;

}

.productos{
    margin-right: 30px;

}

.nav {
    background: linear-gradient(141deg, rgb(0, 0, 0) 0%, #292929 51%, #3b3b3b 75%) !important;
}

.iconoUsuario{
    color: #fff !important;
}

.corazon{
    color: rgb(63, 63, 223);
   
}

.corazon:hover{
    color: tomato;
}


.iconnav{
    color: rgb(255, 255, 255);
}

.iconnav:hover{
    color:dimgrey
}

.opciondrop{
    text-decoration: none !important;
}

.todoslosprod{
    text-decoration: none !important;
}

a:link, a:visited, a:active{
text-decoration:none;
}
