@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Sans+Condensed:wght@800&family=Montserrat:wght@500&family=Paytone+One&display=swap');


.fortnite{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.botonprodu{
    position: relative;
    left: -20px;
}

.logo{
    width:150px;
    // margin-right: 720px;
    padding-left: 5px;

}

.productos{
    margin-right: 30px;

}

.corazon{
    color: rgb(63, 63, 223);
   
}

.corazon:hover{
    color: tomato;
}

