@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Sans+Condensed:wght@800&family=Montserrat:wght@500&family=Paytone+One&display=swap');

.fuentenav, body, a{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.botonprodu{
    position: relative;
    left: -20px;
}

.logo{
    width:150px;
    margin-right: 700px;

}

.productos{
    margin-right: 30px;

}